[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "intensitynet"]
	path = intensitynet
	url = https://github.com/cran/intensitynet
	shallow = true
	registered = true
